
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* make sure to set some focus styles for accessibility */
:focus {
    outline: 0;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration,
input[type=search]::-webkit-search-results-button,
input[type=search]::-webkit-search-results-decoration {
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type=search] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

textarea {
    overflow: auto;
    vertical-align: top;
    resize: vertical;
}

/**
 * Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */

audio,
canvas,
video {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */

audio:not([controls]) {
    display: none;
    height: 0;
}

/**
 * Address styling not present in IE 7/8/9, Firefox 3, and Safari 4.
 * Known issue: no IE 6 support.
 */

[hidden] {
    display: none;
}

/**
 * 1. Correct text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */

html {
    font-size: 100%; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
    -ms-text-size-adjust: 100%; /* 2 */
}

/**
 * Address `outline` inconsistency between Chrome and other browsers.
 */

a:focus {
    outline: thin dotted;
}

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */

a:active,
a:hover {
    outline: 0;
}

/**
 * 1. Remove border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improve image quality when scaled in IE 7.
 */

img {
    border: 0; /* 1 */
    -ms-interpolation-mode: bicubic; /* 2 */
}

/**
 * Address margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */

figure {
    margin: 0;
}

/**
 * Correct margin displayed oddly in IE 6/7.
 */

form {
    margin: 0;
}

/**
 * Define consistent border, margin, and padding.
 */

fieldset {
    border: 1px solid #c0c0c0;
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct color not being inherited in IE 6/7/8/9.
 * 2. Correct text not wrapping in Firefox 3.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */

legend {
    border: 0; /* 1 */
    padding: 0;
    white-space: normal; /* 2 */
    *margin-left: -7px; /* 3 */
}

/**
 * 1. Correct font size not being inherited in all browsers.
 * 2. Address margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improve appearance and consistency in all browsers.
 */

button,
input,
select,
textarea {
    font-size: 100%; /* 1 */
    margin: 0; /* 2 */
    vertical-align: baseline; /* 3 */
    *vertical-align: middle; /* 3 */
}

/**
 * Address Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */

button,
input {
    line-height: normal;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Chrome, Safari 5+, and IE 6+.
 * Correct `select` style inheritance in Firefox 4+ and Opera.
 */

button,
select {
    text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */

button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button; /* 2 */
    cursor: pointer; /* 3 */
    *overflow: visible;  /* 4 */
}

/**
 * Re-set default cursor for disabled elements.
 */

button[disabled],
html input[disabled] {
    cursor: default;
}

/**
 * 1. Address box sizing set to content-box in IE 8/9.
 * 2. Remove excess padding in IE 8/9.
 * 3. Remove excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */

input[type="checkbox"],
input[type="radio"] {
    box-sizing: border-box; /* 1 */
    padding: 0; /* 2 */
    *height: 13px; /* 3 */
    *width: 13px; /* 3 */
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */

input[type="search"] {
    -webkit-appearance: textfield; /* 1 */
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; /* 2 */
    box-sizing: content-box;
}

/**
 * Remove inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none;
}

/**
 * Remove inner padding and border in Firefox 3+.
 */

button::-moz-focus-inner,
input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

/**
 * 1. Remove default vertical scrollbar in IE 6/7/8/9.
 * 2. Improve readability and alignment in all browsers.
 */

textarea {
    overflow: auto; /* 1 */
    vertical-align: top; /* 2 */
}

/**
 * Remove most spacing between table cells.
 */

table {
    border-collapse: collapse;
    border-spacing: 0;
}

html,
button,
input,
select,
textarea {
    color: #222;
}


::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/*теперь паддинги не расширяют блок*/
html{
    box-sizing:border-box;
}
*, *::before,*::after{
    box-sizing:inherit;
}

body{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    text-decoration: none;
    width:100%;
    color:black;
}

body a{
    text-decoration: none;
}

.container{
    max-width:956px;
    margin:0 auto;
}

.header{
    background: #fff;
    width:100%;
    height:72px;
    position:fixed;
    top:0;
    left:0;
    transition: 0.2s linear;
    display:flex;
    align-items:center;
    box-shadow: 0 6px 6px 0px rgba(38, 38, 38, 0.16);
    z-index:999;
}

.scroll__top {
    width:80px;
    height:80px;
    background:#57AD56;
    text-align: center;
    position:fixed;
    bottom:50px;
    right:50px;
    border-radius: 5px;
    z-index:9999;
}
.scroll__top:active, .scroll__top:hover, .scroll_top:focus{
    opacity:0.7;
}
.scroll__top-arrow{
    height:30px;
    margin-top:25px;
}
/*header styles starts*/

.header__list{
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}
.header__ubereats{
    height:110%;
    width:auto;
}
.header__list-second-item{
    margin-left:auto;
    border:1px solid black;
    align-self:center;
    padding:5px;
}
.header__input{
    font-family: 'Roboto';
    font-style: medium;
    font-size:17px;
}
.header__shopping-basket{
    height:31.74px;
    width:28.95px;
    margin-left:60px;
}
/*header styles ends*/

/*main styles start*/
.main{
    width:100%;
    height:1230px;
    transition: 0.2s linear;
}

.main__wrap-wrap{
    margin-top:72px;
    max-height:550px;
    width:100%;
    position:relative;
}
.main__icon{
    width:100%;
    max-height:550px;
}
.main__wrapper{
    height:220px;
    width:420px;
    background: #fff;
    z-index:5;
    position:absolute;
    float:left;
    bottom:35%;
}
.main__wrapper-maintext{
    font-size:35px;
    padding-top:50px;
    text-align: center;
    font-weight:600;
}
.main__wrapper-price{
    color: #626262;
    font-size:15px;
}
.main__wrapper-time{
    font-size:15px;
    color:white;
    padding:8px;
    border:solid black;
    border-radius:20px;
    background:black;
    width:110px;
    text-align:center;
}
.main__wrapper-addinfo{
    padding-top:45px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
    align-items:center;
}

.main__wrapper-menu{
    height:73px;
    background:#fff;
    border-bottom: 1px solid #757575;
}
.main__wrapper-menu-list{
    width:700px;
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-top:29px;
}
.main__wrapper-menu-item a{
    text-decoration: none;
    color:#626262;
}
.main__wrapper-menu-item a:hover,.main__wrapper-menu-item a:active,.main__wrapper-menu-item a:focus{
    color:#327430;
}
.main__wrapper-content{
    height:1000px;
    width:100%;
}

.main__wrapper-content-text{
    font-size:30px;
    padding-top:60px;
    padding-bottom:30px;
}

.main__wrapper-content-list-item{
    border:1px solid rgba(117, 117, 117, 0.1);
    width:460px;
    height:170px;
}
.main__wrapper-content-list-item-img{
    float:right;
    height:160px;
    padding-top:9px;
}
.main__wrapper-content-list-item-txt{
    padding-top:20px;
    padding-left:20px;
    color:#1D1D1D;
    font-size:17px;
}
.main__wrapper-content-list-item-price{
    color:#1D1D1D;
    font-size:15px;
    font-weight:600;
    margin-left: 20px;
    margin-top:90px;
}
.main__wrapper-content-list-item-price-special{
    color:#1D1D1D;
    font-size:15px;
    font-weight:600;
    margin-left: 20px;
    margin-top:74px;
}
.main__wrapper-content-list-item-txt-grey{
    padding-top:5px;
    color:#626262;
    font-size:13px;
    padding-left:20px;
}

/*main styles ends*/

/*footer styles starts*/
.footer{
    height:500px;
    width:100%;
    background: #262626;
    margin-top:80px;
}
.footer__logo{
    width:300px;
    height:auto;
    padding-top:30px;
}
.footer__line{
    border-bottom: 1px solid #fff;
    margin-top:30px;
}

/* Dropdown Button */
.world-img{
    height:20px;
    float:left;
}
.down-img{
    height:20px;
    float:right;
}

.dropbtn {
    background-color: #3B3B3B;
    color: white;
    padding:16px;
    font-size: 16px;
    border: none;
    min-width:240px;
}
/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    opacity: 0.6;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    padding-top:30px;
}
/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #3B3B3B;
    min-width: 240px;
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
}
/* Change color of dropdown links on hover */
.dropdown-content:hover {
    opacity:0.6;
}
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button)*/
.show {display:block;}

.footer__text{
    color:white;
    font-size:20px;
    padding-top:25px;
}
.footer__sign{
    color:#49A144;
}
.footer__network-image{
    height:25px;
}
.footer__networks{
    padding-top:15px;
    display:flex;
    flex-wrap:wrap;
}
.footer__network-image-facebook{
    margin-right:15px;
}
.footer__network-image-twitter{
   margin-right:15px;
}
.footer__middle-text{
    color:white;
    font-size:14.5px;
}
.footer__half-menu{
    display:flex;
}
.footer__half-menu-first-section{
    width:318.6px;
}
.footer__half-menu-second-section{
    max-width:318.6px;
    padding-top:30px;
    padding-left:100px;
}
.footer__middle-text p{
    padding-bottom:12px;

}
.footer__half-menu-third-section{
    max-width:318.6px;
    padding-top:30px;
    padding-left:180px;
}
.footer__download-element1, .footer__download-element2{
    height:50px;
}
.footer__download-section{
    margin-top:30px;
    text-align:center;
}
.footer__download-element1{
    padding-right:15px;
}
.footer__download-element2{
    padding-left:15px;
}

.footer__down-section-txt li{
    color:white;
    font-size:12px;
    line-height:13px;
}
.footer__down-section-txt{
    padding-top:30px;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
}

@media (max-width:1024px){
    .main__wrapper{
        bottom:20%;
    }
}

@media (max-width:991px){
    .main{
        height:1530px;
    }
}
